
Lógica de Programação/practice-console/.vs/practice-console/v17/.suo
*.json
*.db
Lógica de Programação/practice-console/.vs/practice-console/v17/Preview/Browse.VC.db-shm
Lógica de Programação/practice-console/.vs/practice-console/v17/Preview/Browse.VC.db-wal
Lógica de Programação/practice-console/.vs/practice-console/v17/Preview/Browse.VC.opendb
Lógica de Programação/practice-console/.vs/practice-console/v17/Preview/ipch/AutoPCH/9a0de3f5f296dbea/MAIN.ipch
Lógica de Programação/practice-console/.vs/practice-console/v17/Preview/ipch/AutoPCH/a2ab0a6c195743c7/MAIN.ipch
Lógica de Programação/practice-console/.vs/practice-console/v17/Preview/ipch/AutoPCH/bf9645d4b49be6b9/MAIN.ipch
